* {
	word-break: keep-all;
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	/*font-weight: bold;*/
}
footer {
	position: fixed;
	top: 0;
	width: 100%;
	background-color: transparent;
	z-index: 100;
	text-align: center;
	padding: 40px 0;
}
header {
	top: 0;
    left: 0;
    width: 100%;
    display: flex;
    /*font-weight: bold;*/
    justify-content: space-between;
    align-items: center;
    padding: 37px;
}
header a {
    text-decoration: none; 
    color: black;
}

.door-section {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}
.copyright-text {
	color: gray;
	font-size: 1vw; 
	margin: 0;
}

.t-section {
	padding-top: 100px;
	display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 250px;
}
.t-div {
	text-align: center
}
.text {
	line-height: 1.9;
	/*font-weight: bold;*/
}

.choice1 {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}
.choice2 {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}
.choice3 {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}
.choice4 {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}
.choice5 {
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
}
.door1234 {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	gap: 93px;
}
.door567 {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	gap: 6vw;
}
.door891011 {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	gap: 75px;
}
.door121314 {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	gap: 80px;
}
.door15161718 {
	display: flex;
	flex-direction: row;
	align-items: flex-end;
	gap: 75px;
}
.door {
	width: 800px;
    max-width: 800px; 
	display: block;
}
.door1 {
	width: 182px;
	display: block;
}
.door2 {
	width: 160px;
	display: block;
}
.door3 {
	width: 140px;
	display: block;
}
.door4 {
	width: 142px;
	display: block;
}
.door5 {
	width: 230px;
	max-width: 230px;
	display: block; 
}
.door6 {
	width: 500px;
	max-width: 500px;
	display: block;
}
.door7 {
	width: 30vw;
	max-width: 450px;
	display: block;
}
.door8 {
	width: 129px;
	display: block;
}
.door9 {
	width: 333px;
	display: block;
}
.door10 {
	width: 145px;
	display: block;
}
.door11 {
	width: 180px;
	display: block;
}
.door12 {
	width: 400px;
	display: block;
}
.door13 {
	width: 145px;
	display: block;
}
.door14 {
	width: 165px;
	display: block;
}
.door15 {
	width: 160px;
	display: block;
}
.door16 {
	width: 400px;
	display: block;
}
.door17 {
	width: 170px;
	display: block;
}
.door18 {
	width: 135px;
	display: block;
}
.door2B {
	background-color: #8c7f7d;
}
.door4B {
	background-color: #d6a196;
}
